<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <header>
        <a href="/index.html">
            <img src="/storage/Img/Back.svg">
        </a>
    </header>
    <main>
        <div class="register">
            <h1>Registrarse</h1>
        </div>
        <div box>
            <div class="box1">
                <span class="search__icon">
                    <img src="/storage/Img/userp.svg" height="30px">
                </span>
                <input type="text" placeholder="Nombre Usuario">
            </div>
            <div class="box2">
                <span class="search__icon">
                    <img src="/storage/Img/email_542689.png" height="30px">
                </span>
                <input type="text" placeholder="E-mail">
            </div> 
            <div class="box3">
                <span class="search__icon">
                    <img src="/storage/Img/lock_1828471.png" height="30px">
                </span>
                <input type="text" placeholder="Contraseña">
            </div> 
        </div>
    </main>
    <footer>
        <div class="login">
            <a href="/views/search.html">
                <p>ingresar</p>
            </a>
        </div>
    </footer>  
</body>
</html>